{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите название" name="product_name" value="{{ product_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 search-btn">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/declarations/{{ draft_declaration.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        Корзина
                        <div class="badge position-absolute badge rounded-pill">
                            {{ products_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for product in products %}
                {% include "product_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

